body{
    color: #333;
}

.el-scrollbar{
    &.d-flex{
        .el-scrollbar__wrap, .el-scrollbar__view{
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }
    &.flex-fill{
        .el-scrollbar__wrap, .el-scrollbar__view {
            ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
        }
    }
    &.justify-content-center {
        .el-scrollbar__wrap, .el-scrollbar__view {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }
    }
    &.flex-column {
        .el-scrollbar__wrap, .el-scrollbar__view {
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }
    }
}
.flex-column{
    .el-scrollbar{
        &.flex-fill {
            .el-scrollbar__view {
                height: 1px !important;
            }
        }
    }
}

.el-card{
    &.d-flex{
        .el-card__body{
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }
    &.flex-fill{
        .el-card__body {
            ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
        }
    }
    &.justify-content-center {
        .el-card__body {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }
    }
    &.flex-column {
        .el-card__body {
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }
    }
}

.table{
    thead{
        th{
            font-weight: bold;
            button {
                background-color: transparent;
                font-weight: bold;
                border: none !important;
                outline: none !important;
            }
            div{
                font-weight: bold;
            }
        }
    }
}

.badge{
    &.badge-lg{
        font-size: 0.9rem;
    }
}

.bg-header-color{
    background: rgb(2, 39, 74);
    background: -moz-radial-gradient(circle, rgba(2, 39, 74, 1) 0%, rgba(14, 63, 108, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(2, 39, 74, 1) 0%, rgba(14, 63, 108, 1) 100%);
    background: radial-gradient(circle, rgba(2, 39, 74, 1) 0%, rgba(14, 63, 108, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#02274a", endColorstr="#0e3f6c", GradientType=1);
}

.layout-fixed {
    .main-sidebar {
        top: calc(4rem - 1px);
    }
    .main-header{
        margin-left: 0 !important;
        height: 4rem;
        margin-top: 0;
    }

    .navbar-badge {
        font-size: .8rem;
        right: 2px;
        top: 7px;
    }
    .sidebar .nav-link p{
        position: initial;
    }

    .content-wrapper{
        color: #333;
        .content{
            color: #333;
        }
    }

    div{
        &.c-rounded{
            -webkit-border-radius: 8px !important;
            -moz-border-radius: 8px !important;
            border-radius: 8px !important;
        }
    }
    .diagrams{
        min-width: 1626px;
        .diagrams-block{
            border: 3px solid rgb(2, 39, 74);
            height: calc(100vh - 7.4rem);
            background: rgb(145, 201, 255);
                background: -moz-linear-gradient(90deg, rgba(145, 201, 255, 1) 0%, rgba(150, 202, 251, 1) 100%);
                background: -webkit-linear-gradient(90deg, rgba(145, 201, 255, 1) 0%, rgba(150, 202, 251, 1) 100%);
                background: linear-gradient(90deg, rgba(145, 201, 255, 1) 0%, rgba(150, 202, 251, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#91c9ff", endColorstr="#96cafb", GradientType=1);
            .dig-header{
                position: relative;
                margin-top: -3px;
                margin-left: -3px;
                margin-right: -3px;
                -webkit-border-top-left-radius: 8px;
                -webkit-border-top-right-radius: 8px;
                -moz-border-radius-topleft: 8px;
                -moz-border-radius-topright: 8px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            .diagrams-item{
                border: 2px solid #4b749d;
                background: hsla(208, 33%, 21%, 1);
                background: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
                background: -moz-linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
                background: -webkit-linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
                width: 100%;
                .dig-icon{
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    border-radius: 8px;
                }
                &:hover{
                    border-color: rgb(2, 39, 74);
                }
            }
            label {
                user-select: none !important;
                cursor: pointer;
                .dataSourceUnit-radio {
                    visibility: hidden !important;
                    &:checked + .diagrams-item{
                        border-color: rgba(255, 190, 12, 0.863);
                        box-shadow: 0px 0px 10px 5px rgb(255, 153, 0);
                        -webkit-box-shadow: 0px 0px 10px 5px rgb(255, 153, 0);
                        -moz-box-shadow: 0px 0px 10px 5px rgb(255, 153, 0);
                    }
                }
            }
        }
    }
}